<% include ../partials/header %>

<div class="container"> <!--Start of bootstrap -->

   <header class="jumbotron">
      <div class="container rub-thick-font">
         <h1>Campout</h1>
         <p>Living the outdoors.<br> Sharing it with others.</p>
         
         <p>
            <a class="btn light-bg btn-large shadowy" href="/campgrounds/new">Share</a>
         </p>  
      </div>
   </header>

   <div class="row text-center"> <!--start of campground grid-->

      <% campgrounds.forEach(function(campground){ %>
         <div class="col-md-3 col-sm-6">
               <div class="thumbnail more-info">
                  <img src="<%= campground.image %>">
                  <div class="caption rub-thick-font">
                     <h4>
                        <%= campground.name %>
                     </h4>
                  </div>   
                  <p>
                  <a href="/campgrounds/<%=campground._id%>" class="btn light-bg shadowy fira-thin">More Info</a>
                  </p>  
               </div>    
         </div>
      <% }); %>
   </div> <!--End of campground grid-->

</div> <!--End of bootstarp-->


<% include ../partials/footer %>