<% include ../partials/header %>

<div class="container">

   <header class="jumbotron mt-5 pb-2 pt-4">
      <div class="container">
         <h1 class="rub-thick-font display-2">cÀmpout</h1>
         <p>Living the outdoors.<br> Sharing it with others.</p>
         
         <p>
            <a class="btn bg-white btn-large shadowy" href="/campgrounds/new">Share</a>
         </p>  
      </div>
   </header>

   
      
      <div class="card-columns">      
      <% campgrounds.forEach(function(campground){ %>
         
               <div class="card wow fadeInUp border-0 card-bg text-center">
                  <img src="<%= campground.image %>" class="card-img-top">
                  <div class="card-text rub-thick-font mt-2">
                     <h5>
                        <%= campground.name %>
                     </h5>
                  </div>   
                  <p>
                  <a href="/campgrounds/<%=campground._id%>" class="btn more-info shadowy fira-thin">More Info</a>
                  </p>  
               </div>    
         
      <% }); %>
   </div>

</div>


<% include ../partials/footer %>