

.thumbnail img {
   width: 100%;

}

.thumbnail {
   padding:0;
}

.thumbnail .caption-full {
   padding: 9px;
}

.delete-form {
   display: inline-block;
}

.text-scroll {
  height: auto;
  overflow: auto;
}

.comment-scroll {
   height: 50rem;
   overflow: auto;
 }

.light-gray {
   background-color: #E7E5DF;
   border-radius: 3px;
   padding: 2%;
    margin-top: 6%;
    margin-bottom: 3%;
}

.jumbotron {
   color: #31D0C4;
   background-color: #46237A;

}

body.main-app {
   background-image: url("/assets/tent_patern-01.png");
  
}

.rub-thick-font {
   font-family: 'Rubik', sans-serif;
   
}

.fira-thin {
   font-family: 'Fira Sans', sans-serif;
   font-weight: 300;
}



.navbar{
   background-color: #E7E5DF;
}

.light-bg {
   background-color: #F6F8FF;
   color: #4F5D75;
   border-radius: 5px;
   padding: 1%;
   margin-top:2%;
   margin-bottom: 2%;
}

.shadowy{
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);  
}

.more-info {
   background-color: #71E5B3;
   color: #FCFCFC;
   margin-top: 3%;
}

.danger {
   background-color: #F24333;
   color:#FCFCFC;
   margin: 2%;
   display: block;
}

.edit {
   background-color: #F6AE2D;
   color: #FCFCFC;
   margin: 2%;
}

.section-title {
   font-family: 'Rubik', sans-serif;
   font-weight: bold;
   font-size: 3em;
   color: #46237A;
   margin-top: 3%;
}

.text-pad {
   padding: 1% 4%;
}



